<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
<div id="app">
  <input type="text" name="" id="" value="" v-model="n1"/>
  <select name="" v-model="opt">

    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="text" name="" id="" value="" v-model="n2"/>
  <input type="button" name="" id="" value="=" @click="calc"/>
  <input type="text" name="" id="" value="" v-model="result"/>
</div>

<script type="text/javascript">
  var vm = new Vue({
    el: '#app',

    data: {
      n1: 0,
      n2: 0,
      result: 0,
      opt: '+'
    },
    methods: {
      calc() {
        /* switch (this.opt) {
          case '+':
            this.result = parseInt(this.n1) + parseInt(this.n2)
            break;
          case '-':
            this.result = parseInt(this.n1) - parseInt(this.n2)
            break;
          case '*':
            this.result = parseInt(this.n1) * parseInt(this.n2)
            break;
          case '/':
            this.result = parseInt(this.n1) / parseInt(this.n2)
            break;
          default:
            break;
        } */
        var codeStr = 'parseInt(this.n1)' + this.opt + 'parseInt(this.n2)';
        this.result = eval(codeStr)
      }
    }
  })
</script>
</body>
</html>
